NODE_ENV=
PORT=

# gcloud
GCLOUD_PROJECT_ID="
GCLOUD_PROJECT=
GCLOUD_PROJECT_NUMBER=
GOOGLE_APPLICATION_CREDENTIALS=
FIREBASE_STORAGE_BUCKET_NAME=
DEFAULT_LOCATION=

# services
PUPPETEER_WORKER_SERVICE_NAME=
PUPPETEER_WORKER_URL=
PUPPETEER_EXECUTABLE_PATH=

# OpenTelemetry - send traces to Google Cloud
OTEL_TRACES_EXPORTER=
OTEL_METRICS_EXPORTER=
OTEL_EXPORTER_OTLP_ENDPOINT=
OTEL_EXPORTER_OTLP_PROTOCOL=
OTEL_SERVICE_NAME=



